body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./ariel_library.png');
    background-size: cover;
}

.popup {
    width: 700px;
    height: 550px;
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #0072C6;
    margin-top: 0;
}

button {
    margin-top: 20px;
    background-color: #0072C6;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #005EA2;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #333333;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

input:focus {
    box-shadow: 0 0 5px #0072C6;
    outline: none;
}

.enter-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.enter-button button {
    background-color: #0072C6;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.enter-button button:hover {
    background-color: #005EA2;
}
.container {
    width: 80%;
    max-width: 800px; /* set a maximum width for the container */
    margin: 0 auto;
    margin-top: 10px;
    background-color: #F0F0F0;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}